node-red/flows (1).json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Monitor de Motos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b0a38b0b4384909",
        "type": "telegram bot",
        "botname": "Helpiee_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b6b9a3cd.1c20b8",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeREDClient",
        "usetls": false,
        "keepalive": "60",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": ""
    },
    {
        "id": "e06f42786f0521e3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c5756e5d.8105d",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dfd7b6f8.b093d8",
        "type": "ui_group",
        "name": "Alertas do Sistema",
        "tab": "c5756e5d.8105d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6fd1e79248d680b4",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "192.168.4.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6a1dbf14b87fa4fc",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "5a18e5cd67e2912a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a18e5cd67e2912a",
        "type": "ui_tab",
        "name": "Sistema de Motos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "broker",
        "type": "mqtt-broker",
        "name": "Wokwi MQTT",
        "broker": "mqtt.wokwi.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "sistema/motos",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "tab1",
        "name": "",
        "topic": "sistema/motos",
        "qos": "0",
        "datatype": "auto",
        "broker": "b6b9a3cd.1c20b8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "msg-parser",
                "7f57a48603b44990"
            ]
        ]
    },
    {
        "id": "msg-parser",
        "type": "function",
        "z": "tab1",
        "name": "Parser Mensagens",
        "func": "let tipo = 'info';\nlet icone = 'fa-motorcycle';\nlet cor = 'green';\n\nif (msg.payload.includes('[ALERTA GRAVE]')) {\n  tipo = 'alerta';\n  cor = 'red';\n  icone = 'fa-exclamation-triangle';\n} else if (msg.payload.includes('[ALERTA]')) {\n  tipo = 'aviso';\n  cor = 'orange';\n  icone = 'fa-exclamation-circle';\n}\n\nmsg.tipo = tipo;\nmsg.cor = cor;\nmsg.icone = icone;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "historico",
                "notificacoes",
                "dashboard-ui"
            ]
        ]
    },
    {
        "id": "7f57a48603b44990",
        "type": "debug",
        "z": "tab1",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "historico",
        "type": "ui_template",
        "z": "tab1",
        "group": "dfd7b6f8.b093d8",
        "name": "Histórico",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<!-- Histórico de Eventos Premium -->\n<div style=\"\n    max-height: 400px;\n    overflow-y: auto;\n    padding: 25px;\n    border-radius: 12px;\n    background: linear-gradient(145deg, #f5f5f5, #ffffff);\n    box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n\">\n  <h3 style=\"\n      color: #8a2be2;\n      margin-bottom: 25px;\n      font-weight: 600;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      font-size: 1.3em;\n  \">\n    <i class=\"fa fa-history\" style=\"font-size: 1.2em;\"></i> \n    Histórico de Eventos\n  </h3>\n  \n  <table style=\"\n      width: 100%;\n      border-spacing: 0 8px;\n      border-collapse: separate;\n  \">\n    <thead>\n      <tr style=\"\n          background: linear-gradient(90deg, #8a2be2, #9932cc);\n          color: white;\n          position: sticky;\n          top: 0;\n          z-index: 10;\n      \">\n        <th style=\"\n            padding: 14px;\n            text-align: left;\n            font-weight: 500;\n            letter-spacing: 0.5px;\n        \">Tipo</th>\n        <th style=\"\n            padding: 14px;\n            text-align: left;\n            font-weight: 500;\n            letter-spacing: 0.5px;\n        \">Mensagem</th>\n        <th style=\"\n            padding: 14px;\n            text-align: right;\n            font-weight: 500;\n            letter-spacing: 0.5px;\n        \">Hora</th>\n      </tr>\n    </thead>\n    <tbody id=\"historico-body\" style=\"font-size: 0.95em;\"></tbody>\n  </table>\n</div>\n\n<script>\n  (function(scope) {\n    scope.$watch('msg', function(msg) {\n      if (msg) {\n        const now = new Date();\n        const timeString = now.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\n        let bgColor = '#ffffff';\n        let textColor = '#333333';\n        let borderLeft = '4px solid transparent';\n\n        if (msg.tipo === 'alerta') {\n          bgColor = 'rgba(138, 43, 226, 0.08)';\n          textColor = '#8a2be2';\n          borderLeft = '4px solid #8a2be2';\n        } else if (msg.tipo === 'aviso') {\n          bgColor = 'rgba(255, 193, 7, 0.1)';\n          textColor = '#ff8c00';\n          borderLeft = '4px solid #ff8c00';\n        } else if (msg.tipo === 'autorizada') {\n          bgColor = 'rgba(0, 128, 0, 0.08)';\n          textColor = '#05A300';\n          borderLeft = '4px solid #05A300';\n        }\n\n        $('#historico-body').prepend(`\n          <tr style=\"\n              background-color: ${bgColor};\n              color: ${textColor};\n              transition: all 0.3s ease;\n          \">\n            <td style=\"\n                padding: 12px;\n                border-left: ${borderLeft};\n                border-radius: 4px 0 0 4px;\n                font-weight: 500;\n                display: flex;\n                align-items: center;\n                gap: 8px;\n            \">\n              <i class=\"fa ${msg.icone}\" style=\"font-size: 1.1em;\"></i> \n              ${msg.tipo.toUpperCase()}\n            </td>\n            <td style=\"padding: 12px;\">${msg.payload}</td>\n            <td style=\"\n                padding: 12px;\n                text-align: right;\n                border-radius: 0 4px 4px 0;\n                font-family: 'Courier New', monospace;\n                font-weight: 500;\n                color: #666;\n            \">${timeString}</td>\n          </tr>\n        `);\n\n        // Limitar a 50 itens no histórico\n        if($('#historico-body tr').length > 50) {\n          $('#historico-body tr:last').remove();\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "notificacoes",
        "type": "ui_toast",
        "z": "tab1",
        "position": "top right",
        "displayTime": "5000",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "topic",
        "name": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-ui",
        "type": "ui_template",
        "z": "tab1",
        "group": "dfd7b6f8.b093d8",
        "name": "Status Atual",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<div ng-style=\"{\n      'background-color': msg.tipo === 'alerta' ? '#FF3B30' : (msg.cor || '#05A300'),\n      'padding': '25px 30px',\n      'border-radius': '12px',\n      'color': 'white',\n      'box-shadow': '0 4px 10px rgba(0, 0, 0, 0.15)',\n      'font-family': 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif',\n      'max-width': '400px',\n      'margin': 'auto',\n      'text-align': 'center',\n      'border': 'none',\n      'outline': 'none',\n      'transition': 'background-color 0.3s ease'\n    }\">\n  <h2 style=\"\n      margin-bottom: 15px; \n      font-weight: 700; \n      letter-spacing: 1px;\n      text-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    \">\n    <i class=\"fa {{msg.icone}}\" style=\"margin-right: 10px;\"></i> \n    {{msg.tipo === 'alerta' ? 'Alerta' : 'Status'}}\n  </h2>\n  <p style=\"\n      font-size: 1.2em; \n      margin-bottom: 15px; \n      font-weight: 600;\n      line-height: 1.4;\n    \">\n    {{msg.payload}}\n  </p>\n  <p style=\"\n      font-size: 0.9em; \n      opacity: 0.8;\n      font-style: italic;\n      margin-top: 20px;\n    \">\n    Última atualização: {{now | date:'HH:mm:ss'}}\n  </p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    }
]