node-red/flows (1).json
[
    {
        "id": "1cf2fbdd9443ccd9",
        "type": "mqtt in",
        "z": "f29f00a105037432",
        "name": "MQTT Input",
        "topic": "sistema/motos",
        "qos": "0",
        "datatype": "auto",
        "broker": "b6b9a3cd.1c20b8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 80,
        "y": 260,
        "wires": [
            [
                "5cc3aae4ffd3a723",
                "a5544605bb9a7cb1"
            ]
        ]
    },
    {
        "id": "5cc3aae4ffd3a723",
        "type": "function",
        "z": "f29f00a105037432",
        "name": "Parser Mensagens",
        "func": "/* Recebe msg.payload = string enviada pelo ESP32\n   Exemplo: \"Alerta: POI3D21 status: PENDENTE | GPS: (-23.462900,-46.505798) | Temp: 3.0C, Umidade: 6.4%\"\n   ou: \"Autorizada: LKU7A65 | Temp: 25.0C, Umidade: 60%\"\n   GPS é extraído para o nó worldmap, temp e umidade para gauges, e mensagem para histórico/status\n*/\n\nlet payload = msg.payload.trim();\nlet tipo = 'info';\nlet icone = 'fa-motorcycle';\nlet cor = '#05A300';\nlet gps = null;\nlet temp = null;\nlet hum = null;\nlet mainMessage = payload;\n\n// Separa as partes da mensagem\nlet parts = payload.split(' | ');\n\n// Determina tipo, cor e ícone\nif (parts[0].includes('Autorizada:')) {\n    tipo = 'autorizada';\n    cor = '#05A300';\n    icone = 'fa-check-circle';\n} else if (parts[0].includes('Alerta:')) {\n    tipo = 'alerta';\n    cor = '#FF8C00';\n    icone = 'fa-exclamation-triangle';\n} else if (parts[0].includes('ERRO:')) {\n    tipo = 'erro';\n    cor = '#FF3B30';\n    icone = 'fa-times-circle';\n}\n\n// Extrai GPS, temperatura e umidade\nfor (let p of parts) {\n    let m = p.match(/GPS: \\((-?\\d+\\.\\d+),(-?\\d+\\.\\d+)\\)/);\n    if (m) {\n        gps = { lat: parseFloat(m[1]), lon: parseFloat(m[2]), name: parts[0], icon: 'fa-motorcycle' }; // Inclui nome da placa e ícone para o mapa\n    }\n    let t = p.match(/Temp: (N\\/A|\\d+\\.\\d+)C/);\n    let u = p.match(/Umidade: (N\\/A|\\d+\\.\\d+)%/);\n    if (t) temp = t[1] === 'N/A' ? 'N/A' : parseFloat(t[1]);\n    if (u) hum = u[1] === 'N/A' ? 'N/A' : parseFloat(u[1]);\n}\n\nmsg.tipo = tipo;\nmsg.cor = cor;\nmsg.icone = icone;\nmsg.mainMessage = parts[0];\nmsg.gps = gps;\nmsg.temp = temp !== null ? temp : 'N/A';\nmsg.hum = hum !== null ? hum : 'N/A';\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "dccf68a3bc1f7c13",
                "b72692af3997ec90",
                "8d59bbc98caddde9",
                "2c09e3b644c043ba",
                "d9e87b4cd742edfe",
                "e4d063e0baa2c6d6",
                "27458888d0ed9551",
                "9cc2e6d01c848911"
            ]
        ]
    },
    {
        "id": "a5544605bb9a7cb1",
        "type": "debug",
        "z": "f29f00a105037432",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 380,
        "wires": []
    },
    {
        "id": "dccf68a3bc1f7c13",
        "type": "ui_template",
        "z": "f29f00a105037432",
        "group": "dfd7b6f8.b093d8",
        "name": "Histórico",
        "order": 1,
        "width": "12",
        "height": "12",
        "format": "<div style=\"max-height:900px;overflow-y:auto;padding:40px;border-radius:16px;background:#f8f8f8;box-shadow:0 6px 16px rgba(0,0,0,0.15);font-family:Arial,Helvetica,sans-serif;max-width:1200px;margin:30px auto;\">\n  <h3 style=\"margin:0 0 25px;color:#8a2be2;display:flex;align-items:center;gap:12px;font-size:2em;font-weight:600;\"><i class=\"fa fa-history\" style=\"font-size:1.3em;\"></i> Histórico de Eventos</h3>\n  <button onclick=\"(function(){$('#hist-body').empty();})()\" style=\"margin-bottom:25px;background:linear-gradient(90deg,#8a2be2,#9932cc);color:#fff;border:none;padding:12px 24px;border-radius:8px;cursor:pointer;font-size:1.2em;\">Limpar Histórico</button>\n  <table style=\"width:100%;border-collapse:separate;border-spacing:0 12px;font-size:1.2em;\">\n    <thead><tr style=\"background:linear-gradient(90deg,#8a2be2,#9932cc);color:#fff;\"><th style=\"padding:15px;text-align:left;font-weight:500;\">Tipo</th><th style=\"padding:15px;text-align:left;font-weight:500;\">Mensagem</th><th style=\"padding:15px;text-align:right;font-weight:500;\">Hora</th></tr></thead>\n    <tbody id=\"hist-body\"></tbody>\n  </table>\n</div>\n<script>\n(function(scope){\n  scope.$watch('msg', function(msg){\n    if (!msg) return;\n    const now = new Date().toLocaleTimeString([], {hour:'2-digit',minute:'2-digit',second:'2-digit'});\n    let bg = '#fff';\n    if (msg.tipo==='autorizada') bg='rgba(5,163,0,0.1)';\n    else if (msg.tipo==='alerta' || msg.tipo==='erro') bg='rgba(138,43,226,0.1)';\n    $('#hist-body').prepend(\n      `<tr style=\"background:${bg};transition:all 0.3s ease;\"><td style=\"padding:15px;border-left:5px solid ${msg.cor};border-radius:5px 0 0 5px;\"><i class=\"fa ${msg.icone}\" style=\"font-size:1.2em;\"></i> ${msg.tipo.toUpperCase()}</td><td style=\"padding:15px;\">${msg.payload}</td><td style=\"padding:15px;text-align:right;font-family:monospace;color:#555;\">${now}</td></tr>`\n    );\n    if ($('#hist-body tr').length>50) $('#hist-body tr:last').remove();\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b72692af3997ec90",
        "type": "ui_toast",
        "z": "f29f00a105037432",
        "position": "top right",
        "displayTime": "5000",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Notificações",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "8d59bbc98caddde9",
        "type": "ui_template",
        "z": "f29f00a105037432",
        "group": "dfd7b6f8.b093d8",
        "name": "Status Atual",
        "order": 2,
        "width": "12",
        "height": "10",
        "format": "<div style=\"background:{{msg.cor}};padding:40px;border-radius:16px;color:#fff;box-shadow:0 6px 16px rgba(0,0,0,0.15);text-align:center;font-family:Arial,Helvetica,sans-serif;max-width:1200px;margin:30px auto;\">\n  <h2 style=\"margin:0 0 20px;display:flex;align-items:center;justify-content:center;gap:12px;font-size:2em;font-weight:600;\"><i class=\"fa {{msg.icone}}\" style=\"font-size:1.3em;\"></i> {{msg.tipo.charAt(0).toUpperCase()+msg.tipo.slice(1)}}</h2>\n  <p style=\"margin:12px 0;font-size:1.4em;font-weight:500;\">{{msg.mainMessage}}</p>\n  <p ng-if=\"msg.gps\" style=\"margin:12px 0;font-size:1.3em;\">GPS: ({{msg.gps.lat.toFixed(6)}}, {{msg.gps.lon.toFixed(6)}})</p>\n  <p ng-if=\"msg.temp !== 'N/A'\" style=\"margin:12px 0;font-size:1.3em;\">Temperatura: {{msg.temp}} °C</p>\n  <p ng-if=\"msg.hum !== 'N/A'\" style=\"margin:12px 0;font-size:1.3em;\">Umidade: {{msg.hum}} %</p>\n  <p ng-if=\"msg.temp === 'N/A' && msg.hum === 'N/A'\" style=\"margin:12px 0;font-size:1.3em;opacity:0.8;\">Dados de ambiente indisponíveis</p>\n  <p style=\"margin-top:25px;font-size:1.1em;opacity:0.8;\">Última atualização: {{now | date:'HH:mm:ss'}}</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e4d063e0baa2c6d6",
        "type": "worldmap",
        "z": "f29f00a105037432",
        "name": "Mapa GPS",
        "lat": "-23.5",
        "lon": "-46.6",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "2c09e3b644c043ba",
        "type": "ui_gauge",
        "z": "f29f00a105037432",
        "name": "Temperatura",
        "group": "dfd7b6f8.b093d8",
        "order": 4,
        "width": "6",
        "height": "6",
        "gtype": "gauge",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{msg.temp !== 'N/A' ? (msg.temp | number:1) : 'N/A'}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "className": "",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "d9e87b4cd742edfe",
        "type": "ui_gauge",
        "z": "f29f00a105037432",
        "name": "Umidade",
        "group": "dfd7b6f8.b093d8",
        "order": 5,
        "width": "6",
        "height": "6",
        "gtype": "gauge",
        "title": "Umidade (%)",
        "label": "%",
        "format": "{{msg.hum !== 'N/A' ? (msg.hum | number:1) : 'N/A'}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "className": "",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "9cc2e6d01c848911",
        "type": "ui_template",
        "z": "f29f00a105037432",
        "group": "",
        "name": "Ajuste de Tema",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n  /* Aumenta o tamanho base do grid */\n  .nr-dashboard-theme .nr-dashboard-template {\n    padding: 16px !important;\n  }\n  .nr-dashboard-cardcontainer {\n    margin: 16px !important;\n  }\n  /* Ajusta fontes e espaçamento */\n  body.nr-dashboard-theme {\n    font-size: 18px !important;\n  }\n  .nr-dashboard-cardtitle {\n    font-size: 1.5em !important;\n  }\n  /* Otimiza o mapa GPS */\n  #worldmap-container {\n    width: 100% !important;\n    height: 100% !important;\n    min-height: 700px !important;\n    max-width: 1200px !important;\n    margin: 0 auto !important;\n    border-radius: 12px !important;\n    box-shadow: 0 6px 16px rgba(0,0,0,0.15) !important;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 240,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "27458888d0ed9551",
        "type": "function",
        "z": "f29f00a105037432",
        "name": "function 1",
        "func": "let doc = {\n    placa: msg.mainMessage.split(\": \")[1]?.split(\" \")[0] || \"DESCONHECIDA\",\n    status: msg.tipo,\n    hora: new Date().toISOString(),\n    gps: msg.gps ? { lat: msg.gps.lat, lon: msg.gps.lon } : null,\n    temperatura: msg.temp,\n    umidade: msg.hum\n};\n\nmsg.payload = {\n    fields: {\n        placa: { stringValue: doc.placa },\n        status: { stringValue: doc.status },\n        hora: { timestampValue: doc.hora },\n        gps: doc.gps ? {\n            geoPointValue: {\n                latitude: doc.gps.lat,\n                longitude: doc.gps.lon\n            }\n        } : { nullValue: null },\n        temperatura: doc.temperatura !== 'N/A' ? { doubleValue: doc.temperatura } : { nullValue: null },\n        umidade: doc.umidade !== 'N/A' ? { doubleValue: doc.umidade } : { nullValue: null }\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "f5f20ffd2a3b4f66"
            ]
        ]
    },
    {
        "id": "f5f20ffd2a3b4f66",
        "type": "http request",
        "z": "f29f00a105037432",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://firestore.googleapis.com/v1/projects/ibike-ad385/databases/(default)/documents/eventos_motos?key=AIzaSyBPb2OMPTPAZHR96Hty83aA_-1I5RBSPMw",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b9a3cd.1c20b8",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeREDClient",
        "usetls": false,
        "keepalive": "60",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": ""
    },
    {
        "id": "dfd7b6f8.b093d8",
        "type": "ui_group",
        "name": "Alertas do Sistema",
        "tab": "c5756e5d.8105d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c5756e5d.8105d",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
